@model Project1.Models.AccountViewModel

@{
    ViewData["Title"] = "Register";
}

<html>
<head>
    <link rel="stylesheet" href="~/css/Vehicle.css">
    <link rel="stylesheet" href="~/css/SingUp.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css">
</head>
<body>
    <div class="row">
        <div class="center">
            <div class="form">
                <div class="title">Register</div>
                <div class="subtitle">Let's create your account!</div>
                <form asp-controller="Account" asp-action="Index">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div>
                        <input class="form__input" asp-for="UserName" type="text" style="font-size:18px;" placeholder="Username">
                        <span style="margin-left:20px;" asp-validation-for="UserName" class="text-white"></span>
                    </div>
                    <div class="group">
                        <input class="form__input" asp-for="Password" type="password" style="font-size:18px;" placeholder="Password">
                        <span style="margin-left:20px;" asp-validation-for="Password" class="text-white"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Register" class="btn_login" asp-action="Register" />
                    </div>
                    <div>
                        <p class="text-white" style="text-align:center; font-size:16px;padding-top:30px;">Already have account?</p>
                        <p style="text-align:center;"><a style="color:white" asp-action="Login"> Login </a></p>
                    </div>
                </form>
            </div>

        </div>
    </div>
    @if (!string.IsNullOrEmpty(ViewBag.Message))
    {
        <div class="alert alert-danger" role="alert">
            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
            <strong>Error! </strong>@ViewBag.Message
        </div>
    }
</body>
</html>


