@model Project1.Models.VehicleView_Model
@{
    ViewData["Title"] = "Edit";


}
<html>
<head>
    <link rel="stylesheet" href="~/css/Vehicle.css">
</head>
<body>
    <h1>Edit</h1>

    <h4>Cars</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Edit" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="ID" />
                <img src="~/Images/@Html.DisplayFor(model=> model.ImageName)">
                <div class="form-group">
                    <label asp-for="CarBrand" class="control-label">Vehicle Brand</label>
                    <input asp-for="CarBrand" class="form-control" />
                    <span asp-validation-for="CarBrand" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CarModel" class="control-label">Vehicle Model</label>
                    <input asp-for="CarModel" class="form-control" />
                    <span asp-validation-for="CarModel" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ProductionDate" class="control-label">Production Date</label>
                    <input asp-for="ProductionDate" type="date" class="form-control" />
                    <span asp-validation-for="ProductionDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Price" class="control-label"></label>
                    <input asp-for="Price" class="form-control" />
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>
                <div hidden class="form-group">
                    <label asp-for="ImageName" class="control-label"></label>
                    <input asp-for="ImageName" class="form-control" />
                    <span asp-validation-for="ImageName" class="text-danger"></span> 
                </div>
                <div class="form-group">
                    <input asp-for="Image" type="file" />                                     
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal">
                        Delete
                    </button>
                </div>
            </form>
        </div>
    </div>
    <a asp-action="Index">Back to List</a>
     Modal for Delete 
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Delete Vehicle</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to delete this vehicle?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <form asp-action="Delete">
                        <input type="hidden" asp-for="ID" />
                        <input type="submit" value="Delete" class="btn btn-danger" />
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
