@{
    ViewData["Title"] = " Best Car Magazine";
}
<html>
<head>
    <link rel="stylesheet" href="~/css/Vehicle.css">
</head>
<body>
    <a href="https://www.motortrend.com/">
        <img src="https://mtg-mtod-production.s3-us-west-2.amazonaws.com/images/motortrend-og.png" class="centerImg" />
        <p class="centerText">
            Motor Trend is an American automobile magazine.
            <br />It first appeared in September 1949.<br />
        </p>
    </a>
    <a href="https://subscribe.evo.co.uk/">
        <img src="https://pocketmagscovers.imgix.net/evo-magazine-january-2021-cover.jpg?w=362&auto=format" class="centerImg" />
        <p class="centerText">
            Evo is a British automobile magazine dedicated to performance cars,from hot hatches to supercars.
            <br />It first appeared in September 1949.<br />
        </p>
    </a>
    <a href="https://subscribe.evo.co.uk/">
        <img src="https://pocketmagscovers.imgix.net/evo-magazine-january-2021-cover.jpg?w=362&auto=format" class="centerImg" />
        <p class="centerText">
            Evo is a British automobile magazine dedicated to performance cars,from hot hatches to supercars.
            <br />It first appeared in September 1949.<br />
        </p>
    </a>
</body>
</html>


