@{
    ViewData["Title"] = " Best Car Magazine";
}
<html>
<head>
    <link rel="stylesheet" href="~/css/Vehicle.css">
</head>
<body>
    <div class="divcontainer">
        <a href="https://www.topgear.com/">
            <img src="https://covers.magazinecloner.com/covers/149096.jpg" class="centerImg" />
        </a>
        <h2 class="a">TOP GEAR </h2>
        <p class="centerText">
            Top Gear is an automobile magazine owned by BBC Worldwide and published under contract by Immediate Media Company.
            <br />It is named after the BBC's Top Gear television show.
            <br />It was first published in October 1993 and is published monthly at a price of £4.35.
            <br /> As of March 2019 there have been a total of 320 issues published in the UK.  <br />
        </p>
    </div>
    <div class="divcontainer">
        <a href="https://www.motortrend.com/">
            <img src="https://m.media-amazon.com/images/I/71AUXGnS5sL._AC_SL1024_.jpg" class="centerImg" />
        </a>
        <h2 class="a" ">MOTOR TREND</h2>
        <p class="centerText">
            Motor Trend is an American automobile magazine.
            <br />It first appeared in September 1949.
            <br />Let Motor Trend help you with your next significant investment with top-notch vehicle reviews, road tests, and exceptional pricing guides on domestic and import cars.<br />
        </p>
    </div>

    <div class="divcontainer">
        <a href="https://subscribe.evo.co.uk/">
            <img src="https://pocketmagscovers.imgix.net/evo-magazine-january-2021-cover.jpg?w=362&auto=format" class="centerImg" />
        </a>
        <h2 class="a">EVO</h2>
        <p class="centerText">
            Evo is a British automobile magazine dedicated to performance cars,from hot hatches to supercars.
            <br />Evo is now published 13 times a year, with Stuart Gallagher the current editor, with former editors including Peter Tomalin, John Barker and Richard Meaden.
            <br />  Owned by Dennis Publishing and going by the tag-line "The thrill of driving", Evo attempts to immerse the reader in the driving experience of any particular car.<br />
        </p>

    </div>
    <div class="divcontainer">
        <a href="https://classicmotorsports.com/">
            <img src="https://secure.static.meredith.com/crt/store/covers/magazines/nmo/9249_l.jpg" class="centerImg" />
        </a>
        <h2 class="a">CLASSIC MOTOSPORTS</h2>
        <p class="centerText">
            Classic Motorsports is an American periodical devoted to classic cars, classic car restoration and vintage racing.
            <br />It was established in 1986 and is published six times a year.
            <br /> The magazine's parent company, Motorsport Marketing Inc.based in Holly Hill, Florida, also publishes Grassroots Motorsports magazine.<br />
        </p>
    </div>
    <div class="divcontainer">
        <a href="http://fueltank.cc/fuel">
            <img src="https://www.returnofthecaferacers.com/wp-content/uploads/2018/03/fuel_9.jpg" class="centerImg" />
        </a>
        <h2 class="a">FUEL MAGAZINE</h2>
        <p class="centerText">
            Fuel Magazine® is a publication focused on automotive culture, the people who live it, and the machines that they build.
            <br />Our issues are A4 format, 1cm thick and printed using high quality stocks and binding locally here in Melbourne, Australia.
            <br />Using good photography, writing and design presentation, Fuel Magazine® is available through our online shop and nationally via the Australian newsagency network.<br />
        </p>
    </div>
    <div class="divcontainer">
        <a href="https://subscribe.octane-magazine.com/">
            <img src="https://pocketmagscovers.imgix.net/octane-magazine-august-2020-cover.jpg?w=362&auto=format" class="centerImg" />
        </a>
        <h2 class="a">OCTANE</h2>
        <p class="centerText">
            Octane is a British car magazine, published monthly, and concentrating on classic and performance cars.
            <br />The magazine features news, road tests and buyers guides of both classic cars and some modern performance cars.
            <br /> It was launched in 2003, and is now published by Autovia. It also has an extensive for sale section, showing cars from all around the world.<br />
        </p>
    </div>
    <div class="divcontainer">
        <a href="https://www.caranddriver.com/">
            <img src="https://images-na.ssl-images-amazon.com/images/I/91XjUSeHxoL.jpg" class="centerImg" />
        </a>
        <h2 class="a">CAR AND DRIVER</h2>
        <p class="centerText">
            Car and Driver (CD or C/D) is an American automotive enthusiast magazine. Its total circulation is 1.23 million.[2] It is owned by Hearst Magazines, who purchased prior owner Hachette Filipacchi Media U.S. in 2011. It was founded as Sports Cars Illustrated.
            <br />Originally headquartered in New York City, the magazine has been based in Ann Arbor, Michigan, for many years.
            <br />The magazine also frequently delves into controversial issues, especially in regard to politics.<br />
        </p>
    </div>
    <div class="divcontainer">
        <a href="https://collectibleautomobile.com/">
            <img src="https://images-na.ssl-images-amazon.com/images/I/A1VuqxkuQlL.jpg" class="centerImg" />
        </a>
        <h2 class="a"> COOLLECTIBLE AUTOMOBILE</h2>
        <p class="centerText">
            Collectible Automobile brings automotive history to life with sparkling color photos and bright writing.
            <br />Feature articles on collector and special-interest cars from 1930 to 1980.
            <br />Regular columns profile auto industry figures, future collectibles, models and auto advertising.<br />
        </p>
    </div>
    <div class="divcontainer">
        <a href="https://grassrootsmotorsports.com/">
            <img src="https://m.media-amazon.com/images/I/71csEUUORxL._AC_SL1024_.jpg" class="centerImg" />
        </a>
        <h2 class="a">GRASSROOTS MOTOSPORTS </h2>
        <p class="centerText">
            Grassroots Motorsports is an American print and digital periodical devoted to hardcore sports cars, driving skill improvement, technical advice, and amateur motorsports such as road racing, autocross and rallying.
            <br />It was established in 1984 and is published eight times a year.
            <br />Motorsport Marketing is also an event company, hosting or sponsoring large annual events under the banner of one or both magazines<br />
        </p>
    </div>
    <div class="divcontainer">
        <a href="https://www.ckdeluxe.com/">
            <img src="https://images-na.ssl-images-amazon.com/images/I/81vYjUoXMhL.jpg" class="centerImg" />
        </a>
        <h2 class="a">CAR KULTURE DELUXE</h2>
        <p class="centerText">
            Car Kulture Deluxe is a magazine published by Geno DiPol and Koolhouse Publications, featuring Kustom Culture lifestyles, Pin-Ups, Hot Rods, Customs, and Artwork.
            <br />This magazine has a huge cult following in the US and along with Ol' Skool Rodz are considered by many as good references for the Modern Car Kulture Enthusiast.
            <br />The magazine was established by Petersen Publishing, Inc. in 1999.
            It was first named Hot Rod DeLuxe.
            The magazine is based in Vero Beach, Florida. In 2006 its frequency was set to bimonthly.<br />
        </p>
    </div>
</body>
</html>


