@{
    ViewData["Title"] = " Best Car Magazine";
}
<html>
<head>
    <link rel="stylesheet" href="~/css/Vehicle.css">
</head>
<body>
        <div class="container" style="position: absolute; left: 80px;">
            <div class="row">
                <div class="col-lg-4">
                    <div class="card">
                        <a href="https://www.motortrend.com/">
                            <img src="~/Images/MotorTrend.png" alt=MotorTrend style="width:100%" />
                            <h4><b>Motor Trend</b></h4>
                            <p style="font-size:13px"></p>
                            <b></b>
                            <p style="font-size">Motor Trend is an American automobile magazine.</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>  
</body>


