body {
    background-color: #f2f2f2;
    margin-bottom: 60px;
}

h1 {
    text-align: center;
}

img {
    border-radius: 8px;
    width: 200px;
    height: 200px;
    object-fit: contain;
}

.centerText {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding-bottom:20px;
}
.centerImg {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
}




a:hover {
    color: black;
}

.column {
    float: left;
    width: 20%;
    padding: 0 10px;
}

.container {
    padding: 2px 16px;
}

p {
    margin: 0;
}
